<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Sony Headphones</string>
    <key>CFBundleExecutable</key>
    <string>SonyPreferencePane</string>
    <key>CFBundleIconFile</key>
    <string>SonyHeadphones.tiff</string>
    <key>CFBundleIdentifier</key>
    <string>dev.baglayan.Acouplet.preference-pane</string>
    <key>CFBundleName</key>
    <string>Sony Headphones</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>27.0</string>
    <key>NSPrincipalClass</key>
    <string>SonyPreferencePane</string>
    <key>NSPrefPaneIconFile</key>
    <string>SonyHeadphones.tiff</string>
    <key>NSPrefPaneIconLabel</key>
    <string>Sony Headphones</string>
</dict>
</plist>
