ACOUPLET_SPARKLE_PUBLIC_KEY = kWAD8GKHAOt8Kdk3e6g8wRvCz6q3ckD1Y3oHmoHBdWI=
ACOUPLET_SPARKLE_ENABLED_NO = YES
ACOUPLET_DISTRIBUTION = production
ACOUPLET_SPARKLE_ENABLED_YES = NO
ACOUPLET_SPARKLE_ENABLED = $(ACOUPLET_SPARKLE_ENABLED_$(ACOUPLET_PUBLIC_APIS_ONLY))
ACOUPLET_SWIFT_SPARKLE_YES = ACOUPLET_SPARKLE
ACOUPLET_SWIFT_SPARKLE_NO =
ACOUPLET_SPARKLE_SOURCE_EXCLUSION_YES =
ACOUPLET_SPARKLE_SOURCE_EXCLUSION_NO = AppUpdater.swift
ACOUPLET_SPARKLE_FRAMEWORK_SEARCH_PATH_YES = $(SRCROOT)/.build/Sparkle-2.10.0
ACOUPLET_SPARKLE_FRAMEWORK_SEARCH_PATH_NO =
ACOUPLET_SPARKLE_LDFLAGS_YES = -framework Sparkle
ACOUPLET_SPARKLE_LDFLAGS_NO =
ACOUPLET_APP_ENTITLEMENTS_YES = Configuration/Direct.entitlements
ACOUPLET_APP_ENTITLEMENTS_NO = Configuration/App.entitlements
ACOUPLET_APP_INFO_YES = Configuration/Direct-Info.plist
ACOUPLET_APP_INFO_NO =
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(ACOUPLET_SPARKLE_FRAMEWORK_SEARCH_PATH_$(ACOUPLET_SPARKLE_ENABLED))"
OTHER_LDFLAGS = $(inherited) $(ACOUPLET_SPARKLE_LDFLAGS_$(ACOUPLET_SPARKLE_ENABLED))
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
EXCLUDED_SOURCE_FILE_NAMES = $(inherited) $(ACOUPLET_SPARKLE_SOURCE_EXCLUSION_$(ACOUPLET_SPARKLE_ENABLED))
